{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 class="card-title">New comics</h1>
    <div class="card-rows">
        {% for item in comics %}
            <div class="card">
                <div class="card-img" style="background-image: url( {{ item.preview_image }} );"></div>
                <div class="content">
                    <h3>{{ item.title }}</h3>
                    <p>
                        {{ item.description }}
                    </p>
                    <a href="{{ item.get_absolute_url }}">Read comics</a>
                    <p>{{ item.views }} views</p>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock content %}
