{% extends 'base.html' %}
{% load static %}


{% block content %}
    <h1 class="card-title">New comics</h1>
    <div class="card-rows">
        <div class="card">
            <div class="card-img" style="background-image: url( {% static 'загруженное.jfif' %} );"></div>
            <div class="content">
                <h3>Card one</h3>
                <p>
                    Lorem ipsum aoifouweguibugb> sidhg0iwer0ig0ig0ierg0ire0ig0ier0irgn>
                    psd0ig0ierng0inerignioprengoipneroivbnreoinvoiernvioeroiveroiveroinviernviernviernvi
                </p>
                <a href="#">Read more</a>
                <p>4к views</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image: url( {% static 'загруженное.jfif' %} );"></div>
            <div class="content">
                <h3>Card one</h3>
                <p>
                    Lorem ipsum aoifouweguibugb> sidhg0iwer0ig0ig0ierg0ire0ig0ier0irgn>
                    psd0ig0ierng0inerignioprengoipneroivbnreoinvoiernvioeroiveroiveroinviernviernviernvi
                </p>
                <a href="#">Read more</a>
                <p>4к views</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image: url( {% static 'загруженное.jfif' %} );"></div>
            <div class="content">
                <h3>Card one</h3>
                <p>
                    Lorem ipsum aoifouweguibugb> sidhg0iwer0ig0ig0ierg0ire0ig0ier0irgn>
                    psd0ig0ierng0inerignioprengoipneroivbnreoinvoiernvioeroiveroiveroinviernviernviernvi
                </p>
                <a href="#">Read more</a>
                <p>4к views</p>
            </div>
        </div>
        <div class="card">
            <div class="card-img" style="background-image: url( {% static 'загруженное.jfif' %} );"></div>
            <div class="content">
                <h3>Card one</h3>
                <p>
                    Lorem ipsum aoifouweguibugb> sidhg0iwer0ig0ig0ierg0ire0ig0ier0irgn>
                    psd0ig0ierng0inerignioprengoipneroivbnreoinvoiernvioeroiveroiveroinviernviernviernvi
                </p>
                <a href="#">Read more</a>
                <p>4к views</p>
            </div>
        </div>
    </div>
{% endblock content %}
